<h1> About Us </h1>
<p> At Private Planner, we strive to solve the problem of students and event coordinators in boarding and private schools not being able to find fun activities (ex. rallies, dances, tailgates) or connections with diversity programs. We want a network where these students can come together and have fun things to do! </p>
<h3> Alexis Elliot </h3>
<p> <img src = " " > Alexis Elliot is a junior at The Pingry School. She is an entrepeneur. </p>
<h3> Destiny Nwafor </h3>
<p> <img src= "" > Destiny Nwafor is a senior at The Williston Northampton School. She is a co-leader of the Multicultural Student Union, a diversity club at her school. Destiny is also involed in the performing arts. </p>
<h3> Perrfection Peterkin </h3>
<p><img src = "https://lh6.googleusercontent.com/-3FyhO4kzRMg/AAAAAAAAAAI/AAAAAAAAAAA/fUdsas9hsNE/s128-c-k/photo.jpg" alt = "Perrfection Peterkin"></p> 
<p> Perrfection Peterkin is a junior at George School. </p>

