<div class = "jumbotron">
	<h1> About Us </h1>
	<center><p> At Private Planner, we strive to solve the problem of students and event coordinators in boarding and private schools not being able to find fun activities (ex. rallies, dances, tailgates) or connections with diversity programs. We want a network where these students can come together and have fun things to do! </p>
	<div class = "bios">
		<h3> Alexis Elliot </h3>
		<p><img src = "https://dl.dropboxusercontent.com/s/8i298t9iutm7myi/AlexisHeadshot.jpg" alt = "Alexis"></p>
		<p>Alexis Elliot is a rising junior at The Pingry School in Basking Ridge, New Jersey. She is an entrepreneur and she runs her own business, EduPair. She is a motivational speaker for high school students on how to start a business. In her free time Alexis runs track, and plays soccer in school and on a club team. She is an assistant editor and contributor for her school newspaper, The Pingry Record. </p>

		<h3> Angeline Fields </h3>
		<p><img src="https://dl.dropboxusercontent.com/s/6wfmaci9vo7y0ww/AngelineHeadshot.png?dl=0" alt = "Angie"></p>
		<p>Hello! I am Angeline, but you can call me Angie. I am a girl scout and recently joined Girls Who Code and have noticed a whole new perspective in life due to the time I spent in this outstanding program. </p>

		<h3> Destiny Nwafor </h3>
		<p><img src= "https://dl.dropboxusercontent.com/s/ijtxmjoa6ns9xr5/DestinyHeadshot.jpg?dl=0" alt = "Destiny"></p>
		<p>Destiny Nwafor is a rising senior at the Williston Northampton School. She is a co-head of Diversity Affairs, a dorm proctor, and international mentor. She is also very involved in the dance and musical theatre aspects of the Performing Arts at Williston.</p>

		<h3> Perrfection Peterkin </h3>
		<p><img src = "https://dl.dropboxusercontent.com/s/8stdtimxrnpgb6w/PerrfectionHeadshot.jpg?dl=0" alt = "Perrfection" width="400" height="400"></p>
		<p> Perrfection Peterkin is a rising junior at George School in Newtown Pennsylvania. She is one of the three leaders of her school’s diversity club and she is very interested in art particularly, dance and drawing. She intends to pursue CS (Computer Science) in college.  </p></center>
	</div>
</div>
