<h1> About Us </h1>
<p> At Private Planner, we strive to solve the problem of people in boarding and private school not being able to find fun activities (ex. rallies, parties, tailgates). We want a network where these students can come together and have fun things to do! </p>

