<script type= "text/javascript" src = "community.js"></script>
<h1> Community Events </h1>
<p> "Welcome to the Community Events!!! Here you can edit, add, and delete events on Private Planner!! Happy planning!! :) </p>
<button class = "btn" onclick = "myFunction()"> Create Event </button>
</button>
 <p id="firstp">
	 Click the button above to create a new event
 </p id = "firstp">