@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);
$body-bg :						#AEA8D3;
$font-family-sans-serif: 		'Oxygen', 'Helvetica Neue', Helvetica, Aria, sans-serif;
@import 'bootstrap';
p{
	font-size: 20px;
}
